    <h1><img src='./assets/images/Connection.png' alt="connection logo" width="365" height="65"></h1>  
<app-menu></app-menu>
<br>
<main>
    <body>
        <div id="home">
               
            <form>            
                <p>
                    <button class="btn btn-outline-secondary btn-lg shadow p-3 mb-5 rounded" a routerLink="/item/list/">Maintenance </button> &nbsp; &nbsp;     
        
                     <button class="btn btn-outline-secondary btn-lg shadow p-3 mb-5 rounded" a routerLink="/quote/create/">Create Quote</button>
              </p>                 
            </form>
        </div> 
    </body>
</main>
<footer></footer>