<h1><img src='./assets/images/Connection.png' alt="connection logo" width="365" height="65"></h1>
<app-menu></app-menu>
<div>
    <br>
    <span id="pageTitle">TIDC Pricing Categories</span>  |
    <a routerLink="/category/create">New Category</a> |
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    <br>
    <hr>
</div>
<div>
<main>
<table class="table table-striped table-sm" class="table table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Description</td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of categories | categorySearch:searchCriteria">
            <td>{{ c.id }}</td>
            <td>{{ c.description }}</td>
              <td>
                <a routerLink="/category/detail/{{ c.id }}" class="clickable">Detail</a>
                <span> |
                    <a routerLink="/category/edit/{{ c.id }}" class="clickable">Edit</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
</main>
</div>
<footer></footer>

