<!--<app-menu></app-menu>-->
<!-- <hr class="topborder"> -->
<main>
    <div class="blueline"></div>   
    <!-- <hr noshade class="topborder"  style= "background-color: blue; color: blue;
    height: 15px;"/>    -->
   
  
    <body>             
     <div class="right">        
        <br>
    <p><b>QUOTE</b><br>
        <label for="Submitted">Submitted on:&nbsp;</label>
        <input type="date" id="Submitted" style="width: 200px;"><br>
    </p>
    <p style="color: red">Quote is valid for 90 days
    </p>
</div>
<div class="left">
    <span>
    <img src='./assets/images/Connection.png' alt="connection logo" width="365" height="65">
    </span>
</div>
    
       <div class="top">         
            <label for="For" >For:&nbsp;&nbsp; </label>
            <input type="text" id="for" style="width: 800px;">            
             <br>  
            <label for="account manager">Account Manager: &nbsp;&nbsp;</label>
            <input type="text" id="account manager" style="width: 800px;">       
             <br>         
            <label for="wid">WID:&nbsp;&nbsp;</label>
            <input type="text" id="wid" style="width: 800px;">
            <br>
            <br>
            <p style="color:red">INTERNAL USE ONLY</p>  
            <br>                   
        </div>    
        <hr style="width:100%; text-align:center; margin-left:0">     
       
       <div class="Left2" *ngIf="showSelect"> 
            <select multiple [(ngModel)]="selections">  
                <option *ngFor="let i of items" value="{{i.id}}">{{i.shortDescription}}</option>
            </select>
                <button (click)="display()">Select</button>   
        </div>
       
        <p></p>
            <table class="table table-striped table-sm" class="table table-hover">
               <thead>
                <tr>
                    <td>SKU</td> 
                    <td>Service Name</td>                                     
                    <td>Detail</td>
                    <td>Description</td>
                    <td>Unit</td>  
                    <td>Cost to Sales</td>
                    <td>Suggested Cost</td>                            
                </tr>
            </thead>
              <tbody>
                <tr *ngFor="let ql of quotelines">
                  <td>{{ ql.sku }}</td>   
                  <td>{{ ql.category.description }}</td>                             
                  <td>{{ ql.shortDescription }}</td>
                  <td>{{ ql.longDescription }}</td>
                  <td>{{ ql.unit}}</td>
                  <td>{{ ql.cost | currency }}</td>
                  <td>{{ ql.sell | currency }}</td>                   
                </tr> 
              </tbody>
            </table>    
        
 
<div>
    <label for="services">Services: &nbsp; &nbsp;</label>
    <textarea id="services"  rows="2" cols="126" ></textarea>
</div>
<br>    
<p>Thank you for your business.</p>
<p>Submitted by: Vincent Veak<br>
<label for="approved">Approved by: &nbsp; &nbsp;</label>
    <input type="text" id="approved" style="width: 800px">
</p>
<div class="notes">
    <div>Next steps: Contact your CX/project coordinator to begin next steps. 
 For all depot and lifecycle service requests, please create a WebSPOC ticket</div>
</div>


</body>
</main>
<br>
<br>
<footer></footer>

 <!-- my old attempt       
<table class="table table-striped table-sm" class="table table-hover" id ="selectedItems" >
    <thead>
        <tr>
            <td></td>          
            <td>Product</td>
            <td>SKU</td>
            <td>Part Number</td>
            <td>Short Description</td>
            <td>Long Description</td>
            <td>Cost</td>
            <td>Sell Price</td>
            <td>Unit</td>           
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let i of items | itemSearch:searchCriteria">
            <td><input type="checkbox" [checked]="i.select" (change)="termsChange($event)"  name ={{i.id}}{{i.shortDescription}}></td>   
           
              <td>{{ i.id }}</td>
            <td>{{ i.category.description }}</td>
            <td>{{ i.sku }}</td>
            <td>{{ i.partNumber }}</td>
            <td>{{ i.shortDescription }}</td>
            <td>{{ i.longDescription }}</td>
            <td>{{ i.cost | currency }}</td>
            <td>{{ i.sell | currency }}</td>
            <td>{{ i.unit}}</td>          
        </tr>
        <br>
        <button class="btn btn-primary" input type="submit" id="checked">Create Quote</button>       
    </tbody>
</table> -->

