.body {
    margin: 20px;
} 

hr.topborder {
    border: 5px solid;
    color: rgb(0, 0, 255);
}

.top {
    float:left;
    font-weight: bold;

}

.Left {
    text-align: left;
}

.dropdown{
    float: left;
}

thead {
    color: blue;

}
.left {
    float:left;
    margin-left: 10px;
}

.right {
    float: right; 
    margin-right: 10px;

}
.notes {
    color: red;

}
div #top { 
    font-size: medium;

}
.headings{
    color: blue;
}

th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  input {
    border-style: hidden;
    border-radius: 7px;
    display:inline-block
}

 hr {     
    width: 100%
}

label {
    display: inline-block
}
