.body {
    margin: 25px;
} 


.top {
    float:left;
    font-weight: bold;

}


thead {
    color: blue;

}
.left {
    float:left;
    margin-left: 10px;
}

.right {
    float: right; 
    margin-right: 10px;

}
.notes {
    color: red;

}
div #top { 
    font-size: medium;

}
.headings{
    color: blue;
}
th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  input {
    border-style: hidden;
    border-radius: 7px;
}

input {
    display:inline-block
}
 hr {     
    width: 100%
}