<h1><img src='./assets/images/Connection.png' alt="connection logo" width="365" height="65"></h1>  
<div id="login">    
    <div>
        <form>
            <table class="table table-sm table-borderless">
                <tbody>
                    <tr>
                        <td colspan="fs-4 fw-bold">{{ pageTitle }}</td>
                    </tr>
                    <br>
                    <br>
                    <tr>
                        <td>User name:</td>
                        <td><input [(ngModel)]="usr" name="username" type="text"></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input [(ngModel)]="pwd" name="password" type="text"></td>
                    </tr>
                </tbody>
            </table>
            <p>
                <button (click)="login()" class="btn btn-outline-secondary btn-md shadow p-4 mb-5 rounded">Login</button>
            </p>
            <p>
                <span class="fw-bold text-danger">{{ msg }}&nbsp;</span>
            </p>
        </form>
    </div>
</div>
